USE [master]
GO
/****** Object:  Database [raminagrobis]    Script Date: 11/02/2022 16:01:37 ******/
CREATE DATABASE [raminagrobis]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'raminagrobis', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\raminagrobis.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'raminagrobis_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\raminagrobis_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [raminagrobis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [raminagrobis]
GO
/****** Object:  Table [dbo].[adherents]    Script Date: 11/02/2022 16:01:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adherents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[societe] [nvarchar](50) NOT NULL,
	[civilite] [bit] NOT NULL,
	[nom] [nvarchar](50) NOT NULL,
	[prenom] [nvarchar](50) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[adresse] [nvarchar](228) NOT NULL,
	[date_adhesion] [date] NOT NULL,
	[desactive] [bit] NOT NULL,
 CONSTRAINT [PK_adherents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fournisseurs]    Script Date: 11/02/2022 16:01:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fournisseurs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[societe] [nvarchar](50) NOT NULL,
	[civilite] [bit] NOT NULL,
	[nom] [nvarchar](50) NOT NULL,
	[prenom] [nvarchar](50) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[adresse] [nvarchar](228) NOT NULL,
	[desactive] [bit] NOT NULL,
 CONSTRAINT [PK_fournisseurs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fournisseurs_references]    Script Date: 11/02/2022 16:01:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fournisseurs_references](
	[id_fournisseur] [int] NOT NULL,
	[id_reference] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[liste_achats]    Script Date: 11/02/2022 16:01:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[liste_achats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_adherent] [int] NOT NULL,
	[semaine] [int] NOT NULL,
 CONSTRAINT [PK_liste_achats] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[liste_achats_details]    Script Date: 11/02/2022 16:01:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[liste_achats_details](
	[id_liste_achats] [int] NOT NULL,
	[id_reference] [int] NOT NULL,
	[quantite] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[offres]    Script Date: 11/02/2022 16:01:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[offres](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_fournisseur] [int] NOT NULL,
	[id_panier_global_details] [int] NOT NULL,
	[puht] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[panier_global]    Script Date: 11/02/2022 16:01:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[panier_global](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[semaine] [int] NOT NULL,
 CONSTRAINT [PK_panier_global] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[panier_global_details]    Script Date: 11/02/2022 16:01:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[panier_global_details](
	[id_panier_global] [int] NOT NULL,
	[id_reference] [int] NOT NULL,
	[quantite] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_panier_global_details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[references]    Script Date: 11/02/2022 16:01:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[references](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reference] [nvarchar](50) NOT NULL,
	[libelle] [nvarchar](100) NOT NULL,
	[marque] [nvarchar](50) NOT NULL,
	[desactive] [bit] NOT NULL,
 CONSTRAINT [PK_references] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adherents] ADD  CONSTRAINT [DF_adherents_desactive]  DEFAULT ((0)) FOR [desactive]
GO
ALTER TABLE [dbo].[fournisseurs] ADD  CONSTRAINT [DF_fournisseurs_desactive]  DEFAULT ((0)) FOR [desactive]
GO
ALTER TABLE [dbo].[references] ADD  CONSTRAINT [DF_references_desactive]  DEFAULT ((0)) FOR [desactive]
GO
ALTER TABLE [dbo].[fournisseurs_references]  WITH CHECK ADD  CONSTRAINT [FK_fournisseurs_references_fournisseurs] FOREIGN KEY([id_fournisseur])
REFERENCES [dbo].[fournisseurs] ([id])
GO
ALTER TABLE [dbo].[fournisseurs_references] CHECK CONSTRAINT [FK_fournisseurs_references_fournisseurs]
GO
ALTER TABLE [dbo].[fournisseurs_references]  WITH CHECK ADD  CONSTRAINT [FK_fournisseurs_references_references] FOREIGN KEY([id_reference])
REFERENCES [dbo].[references] ([id])
GO
ALTER TABLE [dbo].[fournisseurs_references] CHECK CONSTRAINT [FK_fournisseurs_references_references]
GO
ALTER TABLE [dbo].[liste_achats]  WITH CHECK ADD  CONSTRAINT [FK_liste_achats_adherents1] FOREIGN KEY([id_adherent])
REFERENCES [dbo].[adherents] ([id])
GO
ALTER TABLE [dbo].[liste_achats] CHECK CONSTRAINT [FK_liste_achats_adherents1]
GO
ALTER TABLE [dbo].[liste_achats_details]  WITH CHECK ADD  CONSTRAINT [FK_liste_achats_details_liste_achats] FOREIGN KEY([id_liste_achats])
REFERENCES [dbo].[liste_achats] ([id])
GO
ALTER TABLE [dbo].[liste_achats_details] CHECK CONSTRAINT [FK_liste_achats_details_liste_achats]
GO
ALTER TABLE [dbo].[liste_achats_details]  WITH CHECK ADD  CONSTRAINT [FK_liste_achats_details_references] FOREIGN KEY([id_reference])
REFERENCES [dbo].[references] ([id])
GO
ALTER TABLE [dbo].[liste_achats_details] CHECK CONSTRAINT [FK_liste_achats_details_references]
GO
ALTER TABLE [dbo].[offres]  WITH CHECK ADD  CONSTRAINT [FK_offres_fournisseurs] FOREIGN KEY([id_fournisseur])
REFERENCES [dbo].[fournisseurs] ([id])
GO
ALTER TABLE [dbo].[offres] CHECK CONSTRAINT [FK_offres_fournisseurs]
GO
ALTER TABLE [dbo].[offres]  WITH CHECK ADD  CONSTRAINT [FK_offres_panier_global_details] FOREIGN KEY([id_panier_global_details])
REFERENCES [dbo].[panier_global_details] ([id])
GO
ALTER TABLE [dbo].[offres] CHECK CONSTRAINT [FK_offres_panier_global_details]
GO
ALTER TABLE [dbo].[panier_global_details]  WITH CHECK ADD  CONSTRAINT [FK_panier_global_details_panier_global] FOREIGN KEY([id_panier_global])
REFERENCES [dbo].[panier_global] ([id])
GO
ALTER TABLE [dbo].[panier_global_details] CHECK CONSTRAINT [FK_panier_global_details_panier_global]
GO
ALTER TABLE [dbo].[panier_global_details]  WITH CHECK ADD  CONSTRAINT [FK_panier_global_details_references] FOREIGN KEY([id_reference])
REFERENCES [dbo].[references] ([id])
GO
ALTER TABLE [dbo].[panier_global_details] CHECK CONSTRAINT [FK_panier_global_details_references]
GO
USE [master]
GO
